%dl.row
  %dt.col-sm-1
    Page
  %dt.col-sm-1
    = "% Weight"
  %dt.col-sm-2
    Name
  %dt.col-sm-2
    = material_icon setting.platform.icon
    = setting.platform.name + " says:"
  %dt.col-sm-2
    = image_tag 'extension_icons/16.png'
    Recall says:
  %dd.col-sm-2