.card-body
  %ul.nav


    - Vector.all.each do |vector|
      %li.nav-item
        = link_to admin_recommendation_score_path(recommendation_id: @recommendation.id, id: vector.id), class: 'nav-link' do
          = material_icon(vector.icon)
          = vector.name
