.card-body 
  %h1 Edit vector
  = render 'form', vector: @vector
  %br
  = link_to 'Show', @vector
  \|
  = link_to 'Back', vectors_path
  \|
  = link_to 'Destroy', @vector, method: :delete, data: { confirm: 'Are you sure?' }, remote: true
  