.card-body
  .card-header
    Editing vector
  .card-body
    = render 'form', vector: @vector

  .card-footer
    = link_to 'Show', @vector
    \|
    = link_to 'Back', vectors_path
    \|
    = link_to 'Destroy', @vector, method: :delete, data: { confirm: 'Are you sure?' }, remote: true
