.card-body
  .card-header
    Editing vector
  .card-body
    = render 'form', vector: @vector

  .card-footer
    = link_to 'Show', [:admin, @vector]
    \|
    = link_to 'Back', admin_vectors_path
    \|
    = link_to 'Destroy', [:admin, @vector], method: :delete, data: { confirm: 'Are you sure?' }, remote: true
