.card-body
  %table.table.table-borderless
    %thead
      %tr
        %th settings count
        %th name
        %th description
        %th
        %th
      %tbody
        - CloakPolicy::Vector.top_level.each do |vector|
          = render 'vector', vector: vector
          %tr
            %td

.card-footer.bg-white
  = link_to 'New top level vector', new_vector_path
        




