.card
  .card-header.card-header-divider
    = @recommendation.name.capitalize
    |
    = link_to "platforms", @recommendation
    .card-subtitle= @recommendation.description
  .card-body
    = render 'form'