.card-body
  %ul.nav.nav-tabs{:role => "tablist"}
    - @platforms.each do |platform|
      = active_link_to material_icon(platform.icon, 'lg'), platform
  %table.table.table-responsive.table-borderless
    %thead
      %tr
        %th
          %th name
          %th descripton
          %th
      %tbody
      - @platforms.each do |platform|
        = render platform

.card-footer.bg-white
  = link_to "New platform", new_platform_path
