
.card-body
  %ul.nav.nav-tabs
    %li.nav-item
      = link_to new_setting_path(platform_id: @platform.id), class: 'nav-link', remote: true do
        New setting for
        = material_icon(@platform.icon, 'sm')
    - @platforms.each do |platform|
      %li.nav-item
        = active_link_to material_icon(platform.icon, 'lg'), platform

.tab-pane.active{id: "all-settings", "aria-labelledby" => "#all-settings-tab", :role => "tabpanel"}
  -# .card-body
  .settings.list-group{data: { model: 'setting',
    "update-url" => update_row_order_settings_path}}
    #newSetting
    = render @platform.settings.rank(:row_order)
