.card-group
  .card
    .card-header
      %ul.nav.nav-tabs
        %li.nav-item
          = link_to 'Preferences', preferences_path, class: "nav-link active"
    .card-body
      .card-title
        = material_icon(@preference.icon)
        = @preference.name
      .card-deck
        .card
          .card-header.card-header-divider
            Weights
          .card-body
            - Vector.top_level.each do |v|
              = render 'vector', vector: v
              %hr

  .card
    .card-header
    .card-body
      #barChart
        %canvas{ id: "scoreChart", :height => "300", :width => "400",  data: {"chart-type" => "bar",  "labels" => Vector.pluck(:name), "scores" => @preference.chart_data }}



