.setting-grabber {
  cursor: move;
}

.accordion {
  cursor: pointer;
}

#configure-submit {
  cursor: pointer;

}

.rec-launcher {
  cursor: pointer;

}



#openExtensionDashboard {
  cursor: pointer;

}