%nav.layout-footer.footer.bg-footer-theme
  .container-fluid.container-p-x.pb-3
    = link_to 'about', about_path, class: "footer-link pt-3"
    |
    = link_to 'terms', terms_path, class: "footer-link pt-3"
    |
    = link_to 'privacy', privacy_path, class: "footer-link pt-3"
/ / Layout footer