%nav.landing-navbar.navbar.navbar-expand-lg.navbar-dark.fixed-top.pt-lg-4
  .container-fluid.px-3
    %a.navbar-brand.text-big.font-weight-bolder.line-height-1.text-expanded.py-3{:href => "#"} RECALL
    %button.navbar-toggler{"data-target" => "#landing-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #landing-navbar-collapse.collapse.navbar-collapse
      .navbar-nav.align-items-lg-center.ml-lg-4
        %a.anchor-link.nav-item.nav-link{:href => "#features"} Features
        %a.anchor-link.nav-item.nav-link{:href => "#screenshots"} Screenshots
        %a.anchor-link.nav-item.nav-link{:href => "#pricing"} Pricing
        %a.anchor-link.nav-item.nav-link{:href => "#subscribe"} Subscribe
      .navbar-nav.align-items-lg-center.ml-auto
        -# = render 'registration_links'
        = render 'login_links'

.jumbotron.ui-hero.ui-mh-100vh.ui-bg-cover.ui-bg-fixed.ui-bg-overlay-container.text-white{:style => "background-image: url('assets/img/bg/orwell.jpg');"}
  .ui-bg-overlay.bg-dark.opacity-50
  .container.py-5.px-3
    .row.pt-4
      .w-100
        .col-md-11.col-lg-8.col-xl-7.text-center.mx-auto.mb-5
          %h1.display-3.font-secondary.font-weight-bolder.mb-4 RECALL
          .lead.opacity-75
            Double Plus OwnLife. No more prolefeed.
        .col-12.text-center
          %a.btn.btn-lg.btn-outline-white{:href => "#"}
            Get the
            %strong Recall
            Extension
        .lead.text-center.opacity-50.mt-5.mb-4
          %small or sign up
        .col-md-10.col-lg-8.col-xl-7.mx-auto
          .form-row
            .col-md.mt-2.mt-lg-0
              %input.form-control.form-control-lg.form-control-inverted.px-3{:placeholder => "E-mail", :type => "email"}/
            .col-md.mt-2.mt-lg-0
              %input.form-control.form-control-lg.form-control-inverted.px-3{:placeholder => "Password", :type => "password"}/
            .col-12.mt-2
              %button.btn.btn-primary.btn-block.btn-lg.font-weight-semibold{:type => "button"} Try Now for Free
