%meta{:charset => "utf-8"}/
%meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
%meta{:content => "", :name => "description"}/
%meta{:content => "", :name => "author"}/
= tag.meta name: "stripe-key", content: Rails.application.credentials.stripe[:public_key]
