%nav.navbar.navbar-expand.fixed-top.be-top-header
  .container-fluid
    .be-navbar-header
      -# = link_to configurator_path do
        .navbar-brand
    .be-right-navbar
      - unless controller.class.superclass.to_s.match 'Devise'
        - if user_signed_in?
          = render 'manage_links'
        - else
          %ul.sidebar-elements
            = link_to 'Login', new_user_session_path
            |
            = link_to 'Register', new_user_registration_path