.card-header
  = link_to @scorable.name, scorable_path(@scorable)
  %ul.nav.nav-tabs{:role => "tablist"}
    - @vectors.all.each do |vector|
      %li.nav-item
        = link_to vector.name, scorable_score_path(@scorable, vector.id), class: 'nav-link'

