%li.notification.notification-unread
  %a{:href => "#"}
    .image
      = material_icon("face", "2x", "green")

    .notification-info
      .text
        %span.user-name= username
        accepted your "Grumman Northrop Privacy Recommendation"
      %span.date 2 min ago